span:before {
   /* content: "\2605"; */
   position: absolute;
   color: #008489;
   font-size: 18px;
}
.break {
    margin-top: 16px;
    margin-bottom: 16px;
    border-bottom: 1px solid #EBEBEB;
    box-sizing: border-box

}
.textHeader {
    display: grid;
    grid-template-columns: 1fr 5fr
}
.reviewTitle {
    text-transform: capitalize;
    display: table-cell;
}
.headerStars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-right: 500px;
}
#resetReviews {
    color: #008489;
}